dist: xenial

services:
  - docker

language: c

env:
  - TARGET_DISTRIBUTION=centos6
  - TARGET_DISTRIBUTION=centos7
  - TARGET_DISTRIBUTION=fedora
  - TARGET_DISTRIBUTION=opensuse-leap
  - TARGET_DISTRIBUTION=amazonlinux2

script:
  - make "$TARGET_DISTRIBUTION"

before_deploy:
  - make bintray

deploy:
  - provider: bintray
    user: tatsushid
    key: '$BINTRAY_API_KEY'
    file: ./bintray/bintray-h2o.json
    skip_cleanup: true
  - provider: bintray
    user: tatsushid
    key: '$BINTRAY_API_KEY'
    file: ./bintray/bintray-h2o-debuginfo.json
    skip_cleanup: true
  - provider: bintray
    user: tatsushid
    key: '$BINTRAY_API_KEY'
    file: ./bintray/bintray-libh2o.json
    skip_cleanup: true
  - provider: bintray
    user: tatsushid
    key: '$BINTRAY_API_KEY'
    file: ./bintray/bintray-libh2o-evloop.json
    skip_cleanup: true
  - provider: bintray
    user: tatsushid
    key: '$BINTRAY_API_KEY'
    file: ./bintray/bintray-libh2o-devel.json
    skip_cleanup: true
