{
    "package": {
        "name": "@PKG_NAME@",
        "repo": "h2o-rpm",
        "subject": "tatsushid",
        "desc": "@PKG_NAME@ RPM package",
        "website_url": "https://github.com/tatsushid/h2o-rpm",
        "issue_tracker_url": "https://github.com/tatsushid/h2o-rpm/issues",
        "vcs_url": "https://github.com/tatsushid/h2o-rpm.git",
        "licenses": ["MIT"]
    },

    "version": {
        "name": "@PKG_VERSION@",
        "desc": "Automated release from master",
        "release": "@DATE@"
    },

    "files": [
        {
            "includePattern": "./centos6\.build/RPMS/x86_64/(@PKG_NAME@-@PKG_VERSION@.*\.rpm)",
            "uploadPattern": "centos/6/x86_64/$1",
            "matrixParams": { "override": 1 }
        },
        {
            "includePattern": "./centos7\.build/RPMS/x86_64/(@PKG_NAME@-@PKG_VERSION@.*\.rpm)",
            "uploadPattern": "centos/7/x86_64/$1",
            "matrixParams": { "override": 1 }
        },
        {
            "includePattern": "./centos8\.build/RPMS/x86_64/(@PKG_NAME@-@PKG_VERSION@.*\.rpm)",
            "uploadPattern": "centos/8/x86_64/$1",
            "matrixParams": { "override": 1 }
        },
        {
            "includePattern": "./fedora\.build/RPMS/x86_64/(@PKG_NAME@-@PKG_VERSION@.*\.rpm)",
            "uploadPattern": "fedora/31/x86_64/$1",
            "matrixParams": { "override": 1 }
        }
    ],

    "publish": true
}
